@using EmployeesTest.Data.Enums;
@model EmployeesTest.Models.EmployeesListView

@{
    ViewData["Title"] = "List";
}

<h1>Список працівників</h1>

<p>
    <a asp-action="Create">Додати працівника</a>
</p>
  
<p>
    <form asp-action="List" method="get">
        <label asp-for="@Model.Filter" class="control-label"></label>
        @Html.DropDownListFor(model => model.Filter, new SelectList(Model.Filters.ToDictionary(x => x, x => Enum.GetName<Filters>(x)), "Key", "Value"), "--Select--", new { htmlAttributes = new { @class = "form-control" } })
        <label asp-for="@Model.FilterValue" class="control-label"></label>
        <input asp-for="@Model.FilterValue" class="form-control" />
        <input type="submit" value="Пошук" class="btn btn-primary" />
    </form>   
</p>
   
<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Patronimyc)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].DepartmentName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].PositionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employees) {
        <tr>           
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronimyc)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |              
                @Html.ActionLink("Delete", "Delete", new { id = item.Id } )
            </td>
        </tr>
}
    </tbody>
</table>
